@charset "utf-8";

.aquarium {
    animation: fadeIn 1.2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.aquariumItem {
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

@media screen and (max-width: 768px),print {
    .aquariumItem {
        font-size: 1.3rem;
    }
}