@charset "utf-8";

.regionItem {
    cursor: pointer;
    color: #523329;
    background-color: #fbfaf1;
    border: 1px solid #29211f;
    border-radius: 6px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
}